# Case 1

In [ ]:
import pandas as pd

url_kbo = "https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx"
# 정보를 가져오려는 웹 페이지의 주소

Baseball = pd.read_html(url_kbo)
# 결과는 Data Frame 의 List
# 해당 페이지에 여러 개의 Table 이 존재할 수도 있기 때문

In [ ]:
print(len(Baseball))
# 몇 개의 데이터 프레임이 만들어졌는지 확인

Baseball[0].head(3)
# Baseball -> 리스트
# Baseball[0] -> 리스트의 첫 번째 원소 -> 데이터프레임
# 그렇기 때문에 Baseball[0].head(3)
# 수집된 데이터의 첫 세 줄을 출력

1

   순위  선수명   팀명    AVG   G  PA  AB  R   H  2B  3B  HR  TB  RBI  SAC  SF
0   1  김민혁   KT  0.480   7  28  25  5  12   0   1   0  14    3    0   0
1   2  문성주   LG  0.432  10  47  37  7  16   2   0   0  18    4    0   1
2   3  이창진  KIA  0.391   6  28  23  4   9   1   0   0  10    1    0   0

# Case 1 (예외)

In [ ]:
url_genie = "https://www.genie.co.kr/chart/top200?ditc=W&rtm=N"
# 정보를 가져오려는 웹 페이지의 주소

headers = {"referer":"https://www.genie.co.kr/",
           "origin":"https://www.genie.co.kr/",
           "user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"
           }
# 브라우저처럼 위장하기 위한 장치
# referer 와 origin 은
# 정보를 수집하려는 웹 페이지의 주소에 따라 달라짐

In [ ]:
import pandas as pd
import requests

response = requests.get(url_genie, headers=headers)
# 이번에는 requests 를 이용해 해당 웹 페이지에 접속
# 이 때 , 앞에서 만들어 놓은 장치를 headers 에 전달

response.encoding = "utf-8"
# 웹 페이지에 포함된 한글을 올바르게 처리하기 위해 인코딩 지정

In [ ]:
type(response)

requests.models.Response

In [ ]:
response.status_code
# 응답코드: 200 (성공했다는 의미)

200

In [ ]:
html = response.text
# requests 에서 받아온 HTML 코드를 저장
# 이후는 Case 1 과 동일

In [ ]:
Genie = pd.read_html(html)

print(len(Genie))

1

In [ ]:
Genie[0].head(3)

,선택,순위,앨범이미지,곡정보 이동 링크,곡정보,듣기,추가,담기,다운,뮤비,더보기
0,NaN,1 유지,NaN,곡 제목 정보 페이지,Kitsch IVE (아이브) 외 | I've IVE,듣기,재생목록에 추가,플레이리스트에 담기,다운로드,뮤직비디오 보기,더보기 공유하기/음악나누기 선물하기
1,NaN,2 1상승,NaN,곡 제목 정보 페이지,Ditto NewJeans 외 | NewJeans 'OMG',듣기,재생목록에 추가,플레이리스트에 담기,다운로드,뮤직비디오 보기,더보기 공유하기/음악나누기 선물하기
2,NaN,3 1하강,NaN,곡 제목 정보 페이지,CHRISTIAN Zior Park 외 | WHERE DOES SASQUAT...,듣기,재생목록에 추가,플레이리스트에 담기,다운로드,뮤직비디오 보기,더보기 공유하기/음악나누기 선물하기